html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}
h1,.lastModif{
    text-align: center;
}

.content,.footer,.header{
    border-style: solid;

}
.content{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}
.artist{
    border-style: solid;
    margin: 5%;
}
.album{
    border-style: solid;
    margin: 5%;
    padding: 5%;
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5%;
    border-style: solid;
}
.album__year,.album__name{
    margin: 2%;

}
.album__info{
    display: flex;
    flex-direction: column;
}